#container {
  background: red;
  width: 800px;
  height: 600px;
  position: relative;
}

#child_1 {
  border-top: 20px solid green;
  border-right: 10px solid #ffffff;

  position: absolute;
  left: 0px;
  top: 100px;
  background: blue;
  width: 200px;
  height: 200px;
}

#child_2 {
  box-sizing: border-box;
  border-top: 20px solid green;
  border-right: 10px solid #ffffff;

  background: yellow;
  width: 200px;
  height: 200px;
}
