body {
  background: #d0c8ff;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 1024px;
  height: 600px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#toolbar_container {
  position: absolute;
  left: 0;
  top: 0;
}
#toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 600px;
  border: none;
  background-color: #b6b6b6;
}

#work_area {
  position: absolute;
  left: 110px;
  top: 0;
  width: 914px;
  height: 600px;
  background: transparent;
  overflow: auto;
}
canvas {
  display: none;
  position: absolute;
  border: 1px solid black;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}