body {
  background: white;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

canvas, object {
  border: 1px solid black;
  display: block;
  margin: auto;
  padding: 0;
}

button {
  border: none;
  color: black;
  padding: 5px 20px 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  cursor: pointer;
}

#retro {
  background: black;
  border: 2.5px solid white;
  border-radius: 5px;
  display: none;
  font-size: 2vw;
  height: 9vw;
  position: absolute;
  text-align: center;
  top: 5vh;
  width: 20vw;
  left: 40vw;
}

#retro_txt {
  margin: 10px;
}

#retro_btn {
  background-color: white;
  border: 2.5px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

#retro_btn {
  background-color: white;
  border: 2.5px solid white;
  border-radius: 5px;
}