body {
  background: #d0c8ff;
  margin: 0;
  padding: 0;
}

#drawing {
  position: relative;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  width: 800px;
  height: 600px;
  background-color: #2c3e50;
  box-sizing: border-box;
  overflow: hidden;
}
