@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-image: linear-gradient(to right, #ff7b7b, #7a0098);
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    margin: 0 10px;
    overflow: hidden;
}

body,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Propiedad para hacer no seleccionable el texto. */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */    
}

button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#the_canvas {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 2px #000;
    display: block;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

#retro {
    background: #3498DB;
    display: none;
    font-size: 3vw;
    height: 10vw;
    position: absolute;
    text-align: center;
    top: 25vh;
    width: 20vw;
    left: 40vw;
}

#retro_btn {
    font-size: 1vw;
    background-color: #F1C40F;
    border: 2px solid #Cf9E37;
    color: #C0392B;
}

#retro_btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.score {
    font-size: 3.5vw;
    text-align: center;
    padding-bottom: 0.5vw;
}