body {
  background: #bfbfbf;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #b4d6bc;
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

#container > div {
  background-color: rgba(122, 110, 187, 0.582);
  border: 1px solid brown;
  width: 300px;
  height: 150px;
  padding: 10px;
} 