/*
  Si no se tiene como valor del atributo position relative/absolute, los 
  atributos de posición concretos como left o top no se aplicarán.
  El atributo position como valor relative, se resuelve con respecto al primer 
  padre que encuentra en el árbol DOM con el mismo valor, es decir, relative.
*/

#container {
  background: red;
  width: 800px;
  height: 600px;
}

#child_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  background: blue;
  width: 200px;
  height: 200px;
}

#child_2 {
  background: yellow;
  width: 200px;
  height: 200px;
}
