body {
  background: #d0c8ff;
  margin: 0;
  padding: 0;
}

#container {
  margin: 10px;
  position: relative;
  width: 1024px;
  height: 600px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#toolbar_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 600px;
}
#toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 600px;
  border: none;
  background-color: #b6b6b6;
}

#work_area {
  position: absolute;
  left: 110px;
  top: 0;
  width: 914px;
  height: 600px;
  background: transparent;
  overflow: auto;
}
canvas {
  display: none;
  position: absolute;
  border: 1px solid black;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.35);
}

#stroke_color_picker {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  text-align: center;
}

#stroke_color_picker span {
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
  background: white;
  top: 7px;
  pointer-events: none;
}
