<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Motivación</p>
<p class="section" id="section_animation"></p>
<p id="subsection">¿Qué son los fractales?</p>
<iframe style="top: 50%;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/TJSQPSRJ9xw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>