<p>El hecho de que al aumentar o reducir la escala</p>
<p>se recupera el mismo patrón muestra 2</p>
<p>características de los fractales:</p>
<p>1. Autosimilitud: El un fragmento del fractal es</p>
<p>una representación del fractal</p>
<p>completo.</p>
<p>2. Invariancia: (o invariancia de escala).</p>
<p>Acercando o alejando (esto es,</p>
<p>a una particular escala distinta)</p>
<p>se obtiene una representación</p>
<p>del fractal completo.</p>
<p>Como puedes notar, estos dos conceptos</p>
<p>están relacionados.</p>
<button class="bouncy" id="previousSection">
    Anterior
</button>
<script>
    $(document).ready(function () {
        $('#previousSection').on('click', function() {
            $('.section1').load("./scenes/2_inicio-1.html");
        });
    });
</script>
