<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Inicio</p>
<p class="section">Autosimilitud e invariancia de escala</p>
<div class="sections">
    <div class="section1">
        <p>Observa el fractal de Koch.</p>
        <p>El que tienes a tu derecha es dicho fractal</p>
        <p>desarrollado hasta la 7a generación.</p>
        <p>Posteriormente verás cómo se desarrolla dicho</p>
        <p>fractal en cada nueva generación.</p>
        <p>Por el momento, observa cómo al aumentar la</p>
        <p>del plano (usando el pulsador "Escala"),</p>
        <p>se obtiene una versión del mismo fractal que</p>
        <p>ves originalmente pero en pequeño. Igualmente,</p>
        <p>al reducir la escala, el patrón también se puede</p>
        <p>observar.</p>
    </div>
    <div class="section2">
        <canvas id="koch" width="480px" height="480px"></canvas>
        <button class="bouncy" id="zoomIn" style="animation-delay: 0.25s">
            Aumentar escala
        </button>
        <button class="bouncy" id="zoomOut" style="animation-delay: 0.5s">
            Disminuir escala
        </button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        (function () {
            let container = document.getElementById("container");
            let scriptElement = document.createElement("script");
            scriptElement.src = "../js/main_inicio.js";
            scriptElement.type = "module";
            let scriptElement2 = document.createElement("script");
            scriptElement2.src = "../js/2_inicio.js";
            container.appendChild(scriptElement2);
            container.appendChild(scriptElement);
        })();
    });
</script>