<p>Observa el fractal de Koch.</p>
<p>El que tienes a tu derecha es dicho fractal</p>
<p>desarrollado hasta la 7a generación.</p>
<p>Posteriormente verás cómo se desarrolla dicho</p>
<p>fractal en cada nueva generación.</p>
<p>Por el momento, observa cómo al aumentar la</p>
<p>del plano (usando el pulsador "Escala"),</p>
<p>se obtiene una versión del mismo fractal que</p>
<p>ves originalmente pero en pequeño. Igualmente,</p>
<p>al reducir la escala, el patrón también se puede</p>
<p>observar.</p>
<button class="bouncy" id="nextSection">
    Siguiente
</button>
<script>
    $(document).ready(function () {
        $('#nextSection').on('click', function() {
            $('.section1').load("./scenes/2_inicio-2.html");
        });
    });
</script>
