<script src="../js/3-1_desarrollo.js"></script>
<p>Dicho fractal se forma de la siguiente manera:</p>
<p>1. Se comienza con un segmento unitario (la</p>
<p>generación zero del fractal).</p>
<p>2. Se elimina el tercio medio.</p>
<p>3. Se colocan 2 segmentos inclinados respecto al</p>
<p>original a manera de lados de un triángulo</p>
<p>equilátero uniendo los segmentos que</p>
<p>quedaron tras el paso 2.</p>
<p>4. Para la siguiente generación, se repiten los</p>
<p>pasos 1-3 para cada segmento presente.</p>
<p>Con estas reglas, ¿cuál será la fórmula para</p>
<p>los valores de tamaño de segmento, número de</p>
<p>segmentos y longitud total para cada generación?</p>
<button class="bouncy" id="previousSection2">
    Anterior
</button>
<button class="bouncy" id="nextSection2" style="animation-delay: 0.5s">
    Siguiente
</button>
