<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Desarrollo</p>
<p class="section">Varias generaciones del Fractal de Koch</p>
<div class="sections">
    <div class="section1">
        <p>Explora moviendo el número de generación</p>
        <p>del fractal hasta el valor de 5.</p>
    </div>
    <div class="section2">
        <canvas id="koch" width="480px" height="480px"></canvas>
        Número de generación
        <button class="bouncy" id="generationIn">
            +
        </button>
        <button class="bouncy" id="generationOut" style="animation-delay: 0.5s">
            -
        </button>
    </div>
</div>
<script type="text/javascript">
    (function () {
        let container = document.getElementById("container");
        let scriptElement = document.createElement("script");
        scriptElement.src = "../js/main_desarrollo1.js";
        scriptElement.type = "module";
        let scriptElement2 = document.createElement("script");
        scriptElement2.src = "../js/3-1_desarrollo.js";
        container.appendChild(scriptElement2);
        container.appendChild(scriptElement);
    })();
</script>