<script src="../js/3-1_desarrollo.js"></script>
<p id="p1"></p>
<p id="p2"></p>
<p id="p3">La fórmula general es </p>
<p>el número de veces por el cual se multiplica</p>
<p>el número de lados d ela generación anterior</p>
<p>para obtener el número de lados actual, y d es</p>
<p>el número que divide el tamaño de lado anterior</p>
<p>para obtener el tamaño actual.</p>
<p>Así la dificultad consiste en encontrar la</p>
<p>fórmula que nos permita calcular N y d.</p>
<script>
    var katex1 = katex.renderToString(
        "\\left(\\frac{4}{3^{D_{H}}}\\right) = 1 \\Rightarrow \\ln\\left(4\\right) = D_{H}\\ln\\left(3\\right) \\Rightarrow",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "D_{H} = \\frac{\\ln\\left(4\\right)}{\\ln\\left(3\\right)} = 1.2619",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "D_{H} = \\frac{\\ln\\left(N\\right)}{\\ln\\left(d\\right)}",
        {throwOnError: false}
    );
    $("#p1").append(katex1);
    $("#p2").append(katex2);
    $("#p3").append(katex3).append(", con N");
</script>
<button class="bouncy" id="previousSection5">
    Anterior
</button>
<button class="bouncy" id="nextSection5" style="animation-delay: 0.5s">
    Siguiente
</button>
