<script src="../js/3-1_desarrollo.js"></script>
<p>Observa la construcción del fractal de Koch.</p>
<p>Cambia el valor del pulsador 'Número de</p>
<p>generación' para observar qué sucede en</p>
<p>cada generación.</p>
<p>Presta particular atención a:</p>
<p>- El número de segmentos por cada generación.</p>
<p>- La longitud de cada segmento en cada generación.</p>
<p>- La longitud total de toda la curva para cada generación.</p>
<p>Dichos valores numéricos se encuentran</p>
<p>debajo de la curva.</p>
<button class="bouncy" id="nextSection1">
    Siguiente
</button>