<script src="../js/3-1_desarrollo.js"></script>
<p>Al considerar que la longitud total de la curva es</p>
<p id="p1"></p>
<p>dimensión 1. Pero podría estar en una dimensión</p>
<p id="p2">distinta que llamaremos </p>
<p id="p3"></p>
<p>Podemos encontrar el valor de  para el cual</p>
<p>la longitud total del fractal ya no diverge:</p>
<p id="p4">Esto es </p>
<p>es menor, tenderá a 0 cuando n tienda a infinito.</p>
<p>y si es mayor habrá de diverger.</p>
<script>
    var katex1 = katex.renderToString(
        "\\left(4\\right)^{n}\\left(\\frac{1}{3}\\right)^{n}",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "{D_{H}}",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "L = \\left(4^{n}\\right)\\left(\\left(\\frac{1}{3}\\right)^{D_{H}}\\right)^{n}",
        {throwOnError: false}
    );
    var katex4 = katex.renderToString(
        "\\left(\\frac{4}{3^{D_{H}}}\\right)",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(", asumimos que la curva está en");
    $("#p2").append(katex2).append(". Esto es,");
    $("#p3").append(katex3);
    $("#p4").append(katex4).append(" debe ser indéntico a 1, ya que si");
</script>
<button class="bouncy" id="previousSection4">
    Anterior
</button>
<button class="bouncy" id="nextSection4" style="animation-delay: 0.5s">
    Siguiente
</button>
