<script src="../js/3-1_desarrollo.js"></script>
<p>Nota que cada generación se sustituye</p>
<p id="p1">cada segmento por 4 nuevos de </p>
<p>tamaño original. Así, en la n-ésima</p>
<p id="p2">generación habrán </p>
<p id="p3"></p>
<p>Así pues, la longitud total de la curva de la</p>
<p>n-ésima generación será</p>
<p id="p4"></p>
<p id="p5"> puesto que </p>
<script>
    var katex1 = katex.renderToString(
        "\\frac{1}{3}",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "4^{n}",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "\\left(\\frac{1}{3}\\right)^n",
        {throwOnError: false}
    );
    var katex4 = katex.renderToString(
        "L = \\left(4^{n}\\right)\\left(\\frac{1}{3}\\right)^{n} = \\left(\\frac{4}{3}\\right)^{n}",
        {throwOnError: false}
    );
    var katex5 = katex.renderToString(
        "\\lim n\\rightarrow\\infty\\left(\\frac{4}{3}\\right)^{n}",
        {throwOnError: false}
    );
    var katex6 = katex.renderToString(
        "L = \\left(\\frac{4}{3}\\right) > 1",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" del");
    $("#p2").append(katex2).append(" segmentos de tamaño");
    $("#p3").append(katex3);
    $("#p4").append(katex4).append(". Nota que");
    $("#p5").append(katex5).append(" puesto que ").append(katex6);
</script></p>
<button class="bouncy" id="previousSection3">
    Anterior
</button>
<button class="bouncy" id="nextSection3" style="animation-delay: 0.5s">
    Siguiente
</button>
