<script src="../js/3-1_desarrollo.js"></script>
<p>Nota que la dimensión que obtuvimos para el</p>
<p>fractal de Koch es mayor que uno. Esto se</p>
<p>puede interpretar como que la curva se vuelve</p>
<p>tan intrincada que comienza a adoptar "algo"</p>
<p>de área, sin llegar a abarcarla completamente.</p>
<p>Así pues, el valor obtenido corresponde a un</p>
<p>valor entre dimensión <i>1</i> (la curva) y dimensión</p>
<p><i>2</i> (un área).</p>
<p id="p1">Observa que </p>
<p>tal como fue diseñado para no diverger y para</p>
<p>no tender a cero.</p>
<script>
    var katex1 = katex.renderToString(
        "L = \\lim n\\Rightarrow\\infty \\left(\\left(4^{n}\\right)\\left(\\frac{1}{3^{1.2619}}\\right)^{n}\\right) = 1",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(",");
</script>
<button class="bouncy" id="previousSection6">
    Anterior
</button>
