<p>La respuesta es incorrecta.</p>
<p>Observaciones:</p>
<p>Nota que, en la primera generación, el</p>
<p id="p1">segmento mide </p>
<p id="p2"></p>
<p>Al parecer, la unidad se está dividiendo</p>
<p>por un número <i>q</i> cada vez a partir de</p>
<p id="p3"></p>
<p id="p4">del tipo</p>
<button class="bouncy" id="accept4">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "\\frac{1}{2}",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "\\frac{1}{4}",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "\\frac{1}{8}",
        {throwOnError: false}
    );
    var katex4 = katex.renderToString(
        "n=1",
        {throwOnError: false}
    );
    var katex5 = katex.renderToString(
        "\\frac{1}/{q^{n}}",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(", en la siguiente mide");
    $("#p2").append(katex2).append(", luego ").append(katex3).append(" y así sucesivamente.");
    $("#p3").append(katex4).append(", por lo que la fórmula debe ser");
    $("#p5").append(katex5).append(".");
    $(document).ready(function () {
        $('#accept4').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer2').on('click', function() {
            let modal3Text = $("#myModal3").find('.modal-text');
            modal3Text.load("./scenes/3-2_desarrollo-7.html");
        });
    });
</script>
