<p>En esta escena podrás construir el fractal de Hilbert.</p>
<p>De inicio se muestra la generación n=1. Con el botón "Avanzar" podrás ir viendo</p>
<p>generaciones subsecuentes.</p>
<p>Una vez que hayas avanzado, podrás pintar la generación justo anterior a la que tienes</p>
<p>presente con el botón 'Mostrar predecesor'.</p>
<p>Adicionalmente, con el botón 'Mostrar red' podrás pintar una cuadrícula que divide al</p>
<p>cuadrado unitario en celdas cuadradas. Su utilidad se hará evidente cuando quieras</p>
<p>contar el número de segmentos del fractal.</p>
<p>Intenta, una vez que lo hayas analizado, responder a las preguntas de la izquierda.</p>
<button class="bouncy" id="nextModal">
    Siguiente
</button>
<script>
    $(document).ready(function () {
        $('#nextModal').on('click', function() {
            let modalText = $("#myModal").find('.modal-text');
            modalText.load("./scenes/3-2_desarrollo-1.html");
        });
    });
</script>