<p>La respuesta es incorrecta.</p>
<p>Observaciones:</p>
<p>1) Muestra la red para cada generación.</p>
<p id="p1">Cada lado se divide en </p>
<p><i>n</i> la generación. ¿Cuál es la fórmula para</p>
<p>el número de celdas como función de <i>n</i>?</p>
<p>2) Por cada celda en la red hay un vértice</p>
<p>del fractal, y el número de segmentos es</p>
<p><i>1</i> menos que el número de vértices.</p>
<p>Estos datos te ayudarán para la fórmula.</p>
<button class="bouncy" id="accept2">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "2^n",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" pedazos, con");
    $(document).ready(function () {
        $('#accept2').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer1').on('click', function() {
            let modal2Text = $("#myModal2").find('.modal-text');
            modal2Text.load("./scenes/3-2_desarrollo-6.html");
        });
    });
</script>
