<p style="color: green;">¡Correcto!</p>
<p>Muestra la red junto con el fractal y nota</p>
<p>que, en cada generación, la red se hace</p>
<p>más fina (se cuadruplica el número</p>
<p>de celdas) pero siempre hay un vértice del</p>
<p>fractal dentro de cada celda.</p>
<p>Al tender al infinito la generación, la red se</p>
<p>harán tan fina como desees, y el fractal</p>
<p>siempre abarcará cada celda, por lo que</p>
<p>cubrirá el área completa y por fuerza será</p>
<p>de dimensión 2.</p>
<button class="bouncy" id="accept5">
    Aceptar
</button>
<script>
    $(document).ready(function () {
        $('#accept5').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
