<p>Dado que en cada generación siguiente</p>
<p>el tamaño del segmento se divide, la</p>
<p>fórmula para el cálculo del valor por el</p>
<p>cual se divide el original en la enésima</p>
<p id="p1">generación es </p>
<p>El tamaño del segmento de la enésima</p>
<p id="p2">generación será </p>
<button class="bouncy" id="accept7">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "d=2^{n}",
        {throwOnError: false}
    );
    var katex1 = katex.renderToString(
        "\\frac{1}{2^{n}}",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(".");
    $("#p2").append(katex2).append(".");
    $(document).ready(function () {
        $('#accept7').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
