<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Desarrollo</p>
<p class="section">El fractal de Hilbert</p>
<div class="sections">
    <div class="section1">
        <p>Observa la construcción del fractal de Hilbert.</p>
        <p>Atiende al número de segmentos de cada</p>
        <p>generación y obtén la fórmula para calcular el</p>
        <p>número de segmentos como función del</p>
        <p>de generación n.</p>
        <input id="segmentsInput" placeholder="0">
        <button class="bouncy" id="check1">
            Verificar
        </button>
        <p>Obtén la fórmula para calcular el tamaño de</p>
        <p>segmento como función de n, considerando</p>
        <p>que el tamaño inicial es 1.</p>
        <input id="formulaInput" placeholder="0">
        <button class="bouncy" id="check2" style="animation-delay: 0.25s;">
            Verificar
        </button>
        <p>Por ello, la dimensión fractal de esta curva es:</p>
        <input id="curveInput" placeholder="0.0">
        <button class="bouncy" id="check3" style="animation-delay: 0.5s;">
            Verificar
        </button>
    </div>
    <div class="section2">
        <canvas id="hilbert" width="480px" height="480px"></canvas>
        <button class="bouncy" id="network" style="animation-delay: 0.75s;">
            Mostrar red
        </button>
        <button class="bouncy" id="nextGeneration" style="animation-delay: 1s;">
            Avanzar
        </button>
        <button class="bouncy" id="predecesor" style="animation-delay: 1.25s; display: none;">
            Ver predecesor
        </button>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Introducción y explicación</h2>
        </div>
        <div class="modal-text">
            <p>En esta escena podrás construir el fractal de Hilbert.</p>
            <p>De inicio se muestra la generación n=1. Con el botón "Avanzar" podrás ir viendo</p>
            <p>generaciones subsecuentes.</p>
            <p>Una vez que hayas avanzado, podrás pintar la generación justo anterior a la que tienes</p>
            <p>presente con el botón 'Mostrar predecesor'.</p>
            <p>Adicionalmente, con el botón 'Mostrar red' podrás pintar una cuadrícula que divide al</p>
            <p>cuadrado unitario en celdas cuadradas. Su utilidad se hará evidente cuando quieras</p>
            <p>contar el número de segmentos del fractal.</p>
            <p>Intenta, una vez que lo hayas analizado, responder a las preguntas de la izquierda.</p>
            <button class="bouncy" id="nextModal">
                Siguiente
            </button>
        </div>
    </div>
</div>
<div id="myModal2" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Número de segmentos</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<div id="myModal3" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Tamaño de segmentos</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<div id="myModal4" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Dimensión fractal</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        let container = document.getElementById("container");
        let scriptElement = document.createElement("script");
        scriptElement.src = "../js/3-2_desarrollo.js";
        container.appendChild(scriptElement);
    })();
</script>