<p style="color: #208f3a;">¡Correcto!</p>
<p>Nota que, a pesar de que la fórmula que</p>
<p id="p1">encontraste es equivalente a </p>
<p id="p2">en el límite en que </p>
<p>es el <i>-1</i> se vuelve irrelevante.</p>
<p>Este dato te servirá para simplificar el</p>
<p>cálculo de la dimensión fractal, el cual se</p>
<p>pregunta más adelante</p>
<button class="bouncy" id="accept3">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "N = 2^{2n} - 1",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "n \\rarr \\infty, N \\rarr 2^{2n}",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(",");
    $("#p2").append(katex2).append(",");
    $(document).ready(function () {
        $('#accept3').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
