<p>La respuesta es incorrecta. Observaciones:</p>
<p>1) Recuerda que lo que deseas es que el producto del número de segmentos por</p>
<p>el tamaño de segmento no tienda ni a</p>
<p>infinito ni a cero cuando n diverge.</p>
<p>2) Observa de tu fórmula para el número de segmentos <i>N</i>, que ésta tal vez se puede</p>
<p id="p1">simplificar cuando </p>
<p>más fácil tomas su logaritmo al buscar su dimensión fractal.</p>
<p id="p2">3) Recuerda: la fórmula </p>
<p>permite conocer la dimensión fractal.</p>
<button class="bouncy" id="accept10">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "n \\rarr \\infty",
        {throwOnError: false}
    );
    var katex1 = katex.renderToString(
        "D_{H} = \\frac{ \\ln \\left ( N \\right) }{ \\ln \\left( d \\right) }",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" para que sea");
    $("#p2").append(katex2).append(" te");
    $(document).ready(function () {
        $('#accept10').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer3').on('click', function() {
            let modal4Text = $("#myModal4").find('.modal-text');
            modal4Text.load("./scenes/3-2_desarrollo-11.html");
        });
    });
</script>
