<p>La fórmula para el número de segmentos</p>
<p>es N=2^(2n)-1, pues encuentras un vértice</p>
<p>en cada celda de la red, y hay 2^n</p>
<p>divisiones en el eje x y 2^n en el y,</p>
<p>correspondiendo a (2^n)^2 = 2^(2n) celdas.</p>
<p>Pero como siempre falta un segmeento, la</p>
<p>fórmula es 2^(2n)-1.</p>
<p>Intenta introducir dicho fórmula.</p>
<button class="bouncy" id="accept6">
    Aceptar
</button>
<script>
    $(document).ready(function () {
        $('#accept6').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>