<p style="color:red;">¡IMPORTANTE!</p>
<p>Se permite el cálculo de hasta la 5a generación del fractal.</p>
<p>No obstante, la magnitud de los cálculos ralentiza el explorar en dispositivos móviles,</p>
<p>y tardará alderedor de unos 30 segundos en cargarm razón por la cual se sugiere no</p>
<p>usar dicho número de generación, o permitir que ese tiempo transcurra.</p>
<p>El fractal puede cargarse sin problemas en una computadora.</p>
<button class="bouncy" id="previousModal">
    Anterior
</button>
<script>
    $(document).ready(function () {
        $('#previousModal').on('click', function() {
            let modalText = $("#myModal").find('.modal-text');
            modalText.load("./scenes/3-2_desarrollo-8.html");
        });
    });
</script>
