<p style="color: green;">¡Correcto!</p>
<button class="bouncy" id="accept9">
    Aceptar
</button>
<script>
    $(document).ready(function () {
        $('#accept9').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
    