<p>Considerando irrelevante el <i>-1</i> en la</p>
<p id="p1">fórmula </p>
<p>segmentos, se puede considerar que</p>
<p id="p2"></p>
<p>cual se multiplican en cada generación</p>
<p id="p3">los segmentos es </p>
<p>el que se dividen en tamaño es 2.</p>
<p>Por lo tanto, la fórmula sería</p>
<p id="p4"></p>
<p>Intenta introducir este resultado.</p>
<button class="bouncy" id="accept11">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "N=2^{2n}-1",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "N = (2^2)^n",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "2^2",
        {throwOnError: false}
    );
    var katex4 = katex.renderToString(
        "D_{H} = \\frac{ \\ln \\left( 2^{2} \\right) } { \\ln \\left( 2 \\right) } = \\frac{\\left( 2 \\right) \\left( \\ln \\left( 2 \\right) \\right) } { \\ln \\left( 2 \\right) } = 2",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" para el número de");
    $("#p2").append(katex2).append(", por lo que el número por el");
    $("#p3").append(katex3).append(", y el número por");
    $("#p4").append(katex4).append(".");
    $(document).ready(function () {
        $('#accept11').on('click', function () {
            $(".modal").css("display", "none");
        });
    });
</script>
