<p>Observa el triángulo en la 'Construcción'.</p>
<p>Los lados adyacentes al ángulo a <i>120°</i></p>
<p id="p1">miden <i>x</i> y </p>
<p>Por la ley de cosenos, obtenemos:</p>
<p id="p2"></p>
<p id="p3"></p>
<p id="p4"></p>
<p id="p5">generación medirá </p>
<button class="bouncy" id="accept4">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "\\frac{x}{2}",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "\\left(\\frac{x}{2}\\right)^{2} + x^{2} - 2\\left(\\frac{x}{2}\\right) \\left(x\\right) \\cos \\left(120°\\right) = \\left(\\frac{1}{2}\\right)^{2}",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "\\Rightarrow \\frac{5x^{2}}{4} + \\left(x\\right)^{2} \\left(\\frac{1}{2}\\right) = \\frac{1}{4} \\Rightarrow 7x^{2} = 1 \\Rightarrow",
        {throwOnError: false}
    );
    var katex4 = katex.renderToString(
        "x = \\frac{1}{\\sqrt{\\smash[b]{7}}}",
        {throwOnError: false}
    );
    var katex5 = katex.renderToString(
        "\\left( \\frac{1}{\\sqrt{\\smash[b]{7}}} \\right)^{n}",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(", respectivamente.");
    $("#p2").append(katex2);
    $("#p3").append(katex3);
    $("#p4").append(katex4).append(", y un segmento de la n-esima");
    $("#p5").append(katex5).append(".");
    $(document).ready(function () {
        $('#accept4').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
