<p>La respuesta es incorrecta.</p>
<p>Recuerda que lo que deseas es que el</p>
<p>producto del número de segmentos por</p>
<p>el tamaño de segmento no tienda ni a</p>
<p>infinito ni a cero cuando <i>n</i> diverge.</p>
<p id="p1">La fórmula </p>
<p>conocer la dimensión fractal.</p>
<button class="bouncy" id="accept3">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "D_{H} = \\frac{\\ln \\left( N \\right)}{\\ln \\left( d \\right) }",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" te permite");
    $(document).ready(function () {
        $('#accept3').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer3').on('click', function() {
            let modal4Text = $("#myModal4").find('.modal-text');
            modal4Text.load("./scenes/3-3_desarrollo-6.html");
        });
    });
</script>
