<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Desarrollo</p>
<p class="section">El contorno de la isla de Gosper</p>
<button class="bouncy" id="construction" style="animation-delay: -0.25s">
    Construcción
</button>
<div class="sections">
    <div class="section1">
        <p>Revisa la 'Construcción' de este fractal.</p>
        <p>Presta especial atención al número de segmentos</p>
        <p>para cada generación. ¿Cuál sería la fórmula para</p>
        <p>calcular el número de segmentos como función del</p>
        <p>número de generación n?</p>
        <input id="segmentsInput" placeholder="0">
        <button class="bouncy" id="check1">
            Verificar
        </button>
        <p>Igualmente, ¿cuál sería la fórmula para calcular el</p>
        <p>tamaño de segmento como función de n,</p>
        <p>considerando que el tamaño inicial es 1?</p>
        <input id="formulaInput" placeholder="(1/sqrt(7))^n">
        <button class="bouncy" id="check2" style="animation-delay: 0.25s">
            Verificar
        </button>
        <p>Por ello, la dimensión fractal de esta curva es:</p>
        <input id="curveInput" placeholder="0.000">
        <button class="bouncy" id="check3" style="animation-delay: 0.5s">
            Verificar
        </button>
    </div>
    <div class="section2">
        <canvas id="gosper1" width="480px" height="480px"></canvas>
        <button class="bouncy" id="restart" style="animation-delay: 0.75s">
            Reiniciar
        </button>
        <button class="bouncy" id="nextGeneration" style="animation-delay: 1s">
            Siguiente generación
        </button>
    </div>
</div>
<div id="myModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Construcción</h2>
        </div>
        <div class="modal-text">
            <p>El fractal se construye de la siguiente forma:</p>
            <p>Iniciando con un segmento unitario como la generación <i>0</i>, la</p>
            <p>siguiente generación constará de <i>3</i> segmentos por este segmento</p>
            <p>inicial con coordenadas <i>(0,0)</i> y <i>(1,0)</i>, de la siguiente forma.</p>
            <img src="./../img/matchpoint/construccion.png">
            <p>Los <i>3</i> segmentos miden el mismo tamaño, y sólo se pide que el</p>
            <p>ángulo interno sea de <i>120°</i>.</p>
            <p id="p1">Tip: Si el segmento AB mide <i>x</i>, entonces el BC mide </p>
            <p>que conoces <i>2</i> lados de un triángulo y el ángulo que forman.</p>
            <button class="bouncy" id="accept">
                Aceptar
            </button>
        </div>
    </div>
</div>
<div id="myModal2" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Número de segmentos</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<div id="myModal3" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Tamaño de segmentos</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<div id="myModal4" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Dimensión fractal</h2>
        </div>
        <div class="modal-text">
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        var katex1 = katex.renderToString(
            "\\frac{x}{2}",
            {throwOnError: false}
        );
        $("#p1").append(katex1).append(". Por lo");
        let container = document.getElementById("container");
        let scriptElement = document.createElement("script");
        scriptElement.src = "../js/3-3_desarrollo.js";
        container.appendChild(scriptElement);
        $('#accept').on('click', function () {
            $(".modal").css("display", "none");
        });
    })();
</script>