<p>La respuesta es incorrecta.</p>
<p>Revisa nuevamente la construcción y</p>
<p>pon especial atención en la última</p>
<p>sugerencia de la misma. Recuerda que</p>
<p>la ley de cosenos presenta una relación</p>
<p>entre la longitud de dos lados de un</p>
<p>triángulo y el ángulo que subtienden.</p>
<p>Ello te puede ayudar a calcular <i>x</i>.</p>
<button class="bouncy" id="accept3">
    Aceptar
</button>
<script>
    $(document).ready(function () {
        $('#accept3').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer2').on('click', function() {
            let modal3Text = $("#myModal3").find('.modal-text');
            modal3Text.load("./scenes/3-3_desarrollo-4.html");
        });
    });
</script>
