<p>En la generación <i>0</i>, el número de</p>
<p>segmentos es <i>1</i>, en la siguiente</p>
<p>generación, es <i>3</i>, en la siguiente <i>9</i>.</p>
<p>Así pues, por cada segmento de la</p>
<p>generación previa, aparecen <i>3</i> nuevos.</p>
<p>De tal forma que la fórmula para el</p>
<p>número de segmentos en este ejemplo</p>
<p id="p1">es: </p>
<button class="bouncy" id="accept1">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "N = 3^{n}",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(".");
    $(document).ready(function () {
        $('#accept1').on('click', function() {
            $(".modal").css("display", "none");
        });
    });
</script>
