<p>El número de segmentos de una</p>
<p>generación a la que sigue se multiplica</p>
<p>por <i>3</i> (así, <i>N=3</i>).</p>
<p>El número por el que se divide el tamaño</p>
<p>de segmento de una generación a otra</p>
<p id="p1">es </p>
<p id="p2"></p>
<p id="p3"></p>
<button class="bouncy" id="accept3">
    Aceptar
</button>
<script>
    var katex1 = katex.renderToString(
        "\\sqrt{ \\smash[b]{7} }",
        {throwOnError: false}
    );
    var katex2 = katex.renderToString(
        "d = \\sqrt{ \\smash[b]{7} }",
        {throwOnError: false}
    );
    var katex3 = katex.renderToString(
        "D_{H} = \\frac{\\ln \\left( 3 \\right)}{\\ln \\left( \\sqrt{ \\smash[b]{7} } \\right) } = \\frac{\\ln \\left( 3 \\right)}{\\ln \\left( 7^{ \\frac{1}{2} } \\right) } =",
        {throwOnError: false}
    );
    var kate4 = katex.renderToString(
        "\\frac{\\ln \\left( 3 \\right)}{\\frac{1}{2} \\ln \\left( 7 \\right) } = \\frac{\\left( 2 \\right) \\ln \\left( 3 \\right)}{ \\ln \\left( 7 \\right) } ≃ 1.129",
        {throwOnError: false}
    );
    $("#p1").append(katex1).append(" así, ").append(katex2).append("). Así pues,");
    $("#p2").append(katex3);
    $("#p3").append(kate4).append(".");
    $(document).ready(function () {
        $('#accept3').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer3').on('click', function() {
            let modal4Text = $("#myModal4").find('.modal-text');
            modal4Text.load("./scenes/3-3_desarrollo-4.html");
        });
    });
</script>
