<p>La respuesta es incorrecta.</p>
<p>Observa que en la generación 0</p>
<p>habría 1 segmento, en la 1 hay</p>
<p>3 y así se siguen triplicando en cada</p>
<p>generación. ¿Cuál será la fórmula</p>
<p>para el número de segmentos N de</p>
<p>la enésima generación?</p>
<p></p>
<button class="bouncy" id="accept2">
    Aceptar
</button>
<script>
    $(document).ready(function () {
        $('#accept2').on('click', function() {
            $(".modal").css("display", "none");
        });
        $('#answer1').on('click', function() {
            let modal2Text = $("#myModal2").find('.modal-text');
            modal2Text.load("./scenes/3-3_desarrollo-1.html");
        });
    });
</script>
