<script src="../js/3-4_desarrollo.js"></script>
<p>Ahora observa la isla de Gosper completa.</p>
<p>Imagina un hexágono en el que cada lado</p>
<p>experimenta una transformación fractal como</p>
<p>que viste en la escena anterior.</p>
<p>Adicionalmente, ahora el ángulo interno ya no se</p>
<p>encuentra restringido a 120°.</p>
<p>Comienza como un ángulo llano (180°). Es por</p>
<p>ello que todos los segmentos de la generación</p>
<p>del fractal caen sobre el segmento original y los</p>
<p>lados se preservan igual, viéndose el hexágono</p>
<p>sin modificarse.</p>
<button class="bouncy" id="nextSection1">
    Siguiente
</button>