<script src="../js/3-4_desarrollo.js"></script>
<p>Sin embargo, puedes reducir el valor de θ</p>
<p>con un pulsador, y verás el resultado del</p>
<p>fractal hasta la 5a generación con el ángulo</p>
<p>que hayas elegido</p>
<p>Nota que θ = 120° habrás recuperado</p>
<p>el comportamiento del fractal de la sección</p>
<p>pasada para cada uno de los lados del</p>
<p>hexágono.</p>
<p>Observa, teniendo todas las partes del</p>
<p>mosaico juntas cuando ellas son hexágonos,</p>
<p>como el contorno del mosaico final no</p>
<p>asemeja el contorno de uno de los</p>
<p>componentes.</p>
<button class="bouncy" id="previousSection2">
    Anterior
</button>
<button class="bouncy" id="nextSection2">
    Siguiente
</button>
