<script src="../js/3-4_desarrollo.js"></script>
<p>Cuando juntes los componentes para formar el</p>
<p>mosaico con puros hexágonos (θ = 180°), y</p>
<p>todos los componentes del mosaico estén</p>
<p>visibles, observarás que la curva del generador</p>
<p>está presente en el mosaico.</p>
<p>Éste es el generador que observaste en la</p>
<p>sección anterior. Y es por ello que sólo el</p>
<p>generador que utiliza 120° como valor de θ</p>
<p>es el que tiene la propiedad de tener un</p>
<p>perímetro autosimilar al de uno de sus</p>
<p>componentes.</p>
<button class="bouncy" id="previousSection4">
    Anterior
</button>
