<p class="title">La dimensión fractal: fractales generados por algoritmos aleatorios - Desarrollo</p>
<p class="section">La Isla de Gosper</p>
<div class="sections">
    <div class="section1">
        <p>Ahora observa la isla de Gosper completa.</p>
        <p>Imagina un hexágono en el que cada lado</p>
        <p>experimenta una transformación fractal como</p>
        <p>que viste en la escena anterior.</p>
        <p>Adicionalmente, ahora el ángulo interno ya no se</p>
        <p>encuentra restringido a 120°.</p>
        <p>Comienza como un ángulo llano (180°). Es por</p>
        <p>ello que todos los segmentos de la generación</p>
        <p>del fractal caen sobre el segmento original y los</p>
        <p>lados se preservan igual, viéndose el hexágono</p>
        <p>sin modificarse.</p>
        <button class="bouncy" id="nextSection1">
            Siguiente
        </button>
    </div>
    <div class="section2">
        <canvas id="gosper2" width="480px" height="480px"></canvas>
        <button class="bouncy" id="mosaic" style="animation-delay: 0.25s;">
            Mosaico
        </button>
        <button class="bouncy" id="separate" style="animation-delay: 0.5s;">
            Separar
        </button>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Información</h2>
        </div>
        <div class="modal-text">
            <p style="color:red;">¡IMPORTANTE!</p>
            <p>Aunque la presente lección está diseñada</p>
            <p>para dispositivos móviles, se sugiere la visualización de la misma en una</p>
            <p>computadora en caso de que se muestre</p>
            <p>lenta en un dispositivo, dado que involucra</p>
            <p>algunos cálculos que pueden ralentuzar el</p>
            <p>explorador del dispositivo.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        let container = document.getElementById("container");
        let scriptElement = document.createElement("script");
        scriptElement.src = "../js/3-4_desarrollo.js";
        container.appendChild(scriptElement);
    })();
</script>