<script src="../js/3-4_desarrollo.js"></script>
<p>Sin embargo, resulta justo para θ = 120°</p>
<p>se obtiene que el perímetro del mosaico</p>
<p>completo es igual, en su forma (aunque en</p>
<p>escala sea menor) que el de uno de los</p>
<p>componentes por separado.</p>
<p>Ello se debe a que ése es justo el valor del</p>
<p>ángulo interno de un hexágono, y el valor que</p>
<p>forma el lado de un hexágono con el lado de</p>
<p>otro hexágono adyacente.</p>
<button class="bouncy" id="previousSection3">
    Anterior
</button>
<button class="bouncy" id="nextSection3">
    Siguiente
</button>
