#container {
  position: relative;
  background-color: #bdc3c7;
  width: 400px;
  height: 200px;
  
  display: flex;

  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  align-items: stretch;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */

  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* solo funcionan si flex-wrap es diferente a nowrap */
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: stretch; */
}

#container > div {
  box-sizing: border-box;
  
  width: 40px;
  height: 40px;

  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center; 
  font-size: 15px;
  
  border: 1px solid white;
}
