#container {
  position: relative;
  width: 340px;
  height: 370px;
  border: 1px solid black;
  font-family: sans-serif;
}

#info {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 22px;
}

#game_area {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 20px;
  top: 50px;
  background: #fafafa;
}

#c0, #c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8 {
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
}

#c0 {
  left: 0px;
  top: 0px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#c1 {
  left: 100px;
  top: 0px;
  border-bottom: 3px solid black;
}
#c2 {
  left: 200px;
  top: 0px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
#c3 {
  left: 0px;
  top: 100px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#c4 {
  left: 100px;
  top: 100px;
  border-bottom: 3px solid black;
}
#c5 {
  left: 200px;
  top: 100px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
#c6 {
  left: 0px;
  top: 200px;
  border-right: 3px solid black;
}
#c7 {
  left: 100px;
  top: 200px;
}
#c8 {
  left: 200px;
  top: 200px;
  border-left: 3px solid black;
}

#retro {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 45px;
  top: 110px;
  background: rgba(46, 204, 112, 0.96);
  display: none;
}
#retro_txt{
  position: absolute;
  left: 35px;
  top: 30px;
  font-size: 22px;
}
#retro_btn{
  position: absolute;
  padding: 10px;
  left: 50px;
  top: 80px;
  font-size: 20px;
  color: #ecf0f1;
  background: #16a085;
}

div[player="j1"] {
  background-image: url("circle.svg");
  background-size: cover;
}
div[player="j2"] {
  background-image: url("cross.svg");
  background-size: cover;
}
