body {
  background: #bfbfbf;
}

#container {
  background-color: #fa4400;
  width: 300px;
  height: 300px;
}

.special_div {
  background-color: #3344af;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}