.section {
  background-color: gray;
  width: 450px;
  height: 450px;
}
#viewer {
  position: relative;
  display: flex;
  width: 1800px; /* el ancho de cada seccion por el numero de secciones, 450 x 4 */
}

#container {
  border: 1px solid black;
  width: 450px;
  height: 450px;
  overflow: hidden;
}