/* El valor por defecto del atributo position es static. */

#container {
  background: red;
  width: 800px;
  height: 600px;
}


#child_1 {
  left: 10px;
  top: 10px;
  background: blue;
  width: 200px;
  height: 200px;
}

#child_2 {
  background: yellow;
  width: 200px;
  height: 200px;
}
