/* Estilos CSS para la práctica 1. */

@font-face {
    font-family: SansForgetica-Regular;
    src: url(../font/SansForgetica-Regular.otf);
}

body {
    background-color: white;
    font-family: SansForgetica-Regular;
    font-style: italic;
    /* Propiedad para hacer no seleccionable el texto. */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */
}

footer {
    bottom: 10%;
    position: absolute;
    text-align: center;
}

.center {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

#container {
    height: 33.33vw;
    width: 33.33vw;
    margin: 5vw auto;
    position: absolute;
    top: 10%;
}

#container div {
    height: 11vw;
    width: 11vw;
}

#container div:hover {
    background: black;
    color: white;
    cursor: crosshair;
}

#turn {
    /* El "viewport-percentage lengths" establece el porcentaje del contenedor 
       con respecto al WIDTH, por esto la W al final. */
    font-size: 4vw;
    position: absolute;
    text-align: center;
}

#retro {
    background: rgba(10, 136, 27, 0.8);
    font-size: 3vw;
    height: 40vw;
    position: absolute;
    width: 50vw;
    text-align: center;
    top: 15%;
}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: SansForgetica-Regular;
}

#reset {
    background-color: rgba(0,140,186, 0.8);
}

#reset:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#box1 {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    bottom: 66.66%;
    left: 0%;
}

#box2 {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    bottom: 66.66%;
    left: 33.33%;
}

#box3 {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    position: absolute;
    bottom: 66.66%;
    left: 66.66%;
}

#box4 {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    bottom: 33.33%;
    left: 0%;
}

#box5 {
    border: 3px solid black;
    position: absolute;
    bottom: 33.33%;
    left: 33.33%;
}

#box6 {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    bottom: 33.33%;
    left: 66.66%;
}

#box7 {
    border-right: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#box8 {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    bottom: 0%;
    left: 33.33%;
}

#box9 {
    border-left: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    bottom: 0%;
    left: 66.66%;
}

#particles-js{
    height: 98vh;
}