body {
  background: #fefefe;
}
canvas{
  border: 1px solid gray;
}
h1 {
  color: red;
}
#el_div {
  background: #000078;
  color: white;
}
.el_span {
  background: #348921;
  color: rgba(255,255,255,0.75);
}