#container {
  background: red;
  width: 800px;
  height: 600px;
  position: relative;
}

#child_1 {
  display: none;
  left: 0px;
  top: 100px;
  background: blue;
  width: 200px;
  height: 200px;
}

#child_2 {
  background: yellow;
  width: 200px;
  height: 200px;
}

#child_3 {
  visibility: hidden;
  background: gray;
  width: 200px;
  height: 200px;
}

#child_4 {
  background: purple;
  width: 200px;
  height: 200px;
}