body {
  background: #bfbfbf;
}

#container {
  background-color: #fa4400;
  width: 300px;
  height: 300px;
}

.special_div {
  background-color: #3344af;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.clicked {
  background-size: contain;
  background-image: url("marca.svg");
  width: 30px;
  height: 30px;
  border: 2px solid #23fa56;
}
