#container {
  background: red;
  width: 800px;
  height: 600px;
  position: relative;
}

#child_1 {
  font-family: serif;
  font-size: 28px;

  color: white;

  background: blue;
  width: 200px;
  height: 200px;
}

#child_2 {
  font-family : monospace;
  font-size   : 20px;
  font-weight : bold;
  font-style  : italic;
  color       : red;
  text-align  : right;

  background: yellow;
  width: 200px;
  height: 200px;
}
