body {
  background: #bfbfbf;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #b4d6bc;
  width: 100vw;
  height: 100vh;
  display: flex;

  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  align-items: stretch;
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */

  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  /* solo funcionan si flex-wrap es diferente a nowrap */
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: stretch; */
}

#container > div {
  background-color: rgba(122, 110, 187, 0.582);
  border: 1px solid brown;
  width: 120px;
} 