body {
  background: #d0c8ff;
  margin: 0;
  padding: 0;
}

#container {
  margin: 10px;
  position: relative;
  width: 1024px;
  height: 600px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#toolbar_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 600px;
  background: rgba(0,0,0,0.25);
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

#open_save_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#btn_open, #btn_save, #btn_undo {
  width: 40px;
  height: 40px;
  background-size: contain;
}
#btn_open {
  background-image: url("img/icon_open.svg");
}
#btn_save {
  background-image: url("img/icon_save.svg");
}
#btn_undo{
  background-image: url("img/icon_undo.svg");
}

button {
  cursor: pointer;
  width: 100%;
  border-radius: 0;
  outline: none;
  border: 1px outset #ffffff;
  margin-top: 10px;
}
button:active {
  border: 1px inset #ffffff;
  color: rgba(0,0,0,0.75);
}

#work_area {
  position: absolute;
  left: 110px;
  top: 0;
  width: 914px;
  height: 600px;
  background: transparent;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: none;
  position: absolute;
  border: 1px solid black;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.35);
}
