body {
  background: #bfbfbf;
}

#container {
  background: white;
  position: relative;
  width: 640px;
  height: 480px;
}

#cuadro {
  position: absolute;
  background-color: rgba(122, 110, 187, 0.582);
  border: 1px solid brown;
  width: 250px;
  height: 250px;
} 