@font-face {
	font-family: 'Knockout47';
	src: url('../fonts/Knockout-47.eot');
	src: local('â˜º'),
		url('../fonts/Knockout-47.woff') format('woff'),
		url('../fonts/Knockout-47.ttf') format('truetype'),
		url('../fonts/Knockout-47.svg#webfontKsYZnMzo') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	/* Para la separacion entre lineas. */
	line-height: 0;
	font-family: 'Knockout47';
	text-align: center;
}

embed,
iframe {
	margin: 0 auto;
	display: block;
}

canvas {
	border: 1px solid black;
	display: block;
	margin: auto;
	/* width: 100%;
	height: 100%; */
	padding: 0;
}

#container {
	height: 85%;
	left: 15%;
	width: 70%;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.title {
	font-size: 35px;
}

.section {
	font-size: 50px;
}

#section_animation::after {
	content: "Observa el siguiente video sobre los fractales y su naturaleza.";
	animation: change-text 20s infinite;
}

@keyframes change-text {
	25% {
		content: "En él podrás ver algunos de los fractales construidos por algoritmos definidos.";
	}

	50% {
		content: "También podrás observar algunos manifestados en la naturaleza.";
	}

	75% {
		content: "Observa los comentarios hechos en el video.";
	}
}

#subsection {
	font-size: 35px;
}

#visualizer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

#visNav {
	background-color: #f6f6f6;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.icon {
	display: inline-block;
	position: relative;
	margin: 0px 5px 0px 5px;
	opacity: 0;
}

.icon img {
	width: 75px;
}

.sections {
	display: flex;
	font-size: 30px;
}

.section1 {
	width: 50%;
}

.section2 {
	width: 50%;
}

button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid black;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Knockout47';
	font-size: 20px;
	font-weight: 300;
	color: black;
	text-align: center;
	transition: all 0.2s;
}

button:hover {
	color: white;
	background-color: black;
}

.bouncy {
	animation: bouncy 5s infinite linear;
	position: relative;
}

a img:hover {
	animation: bouncy 5s infinite linear;
	position: relative;
}

@keyframes bouncy {
	0% {
		top: 0em
	}

	40% {
		top: 0em
	}

	43% {
		top: -0.9em
	}

	46% {
		top: 0em
	}

	48% {
		top: -0.4em
	}

	50% {
		top: 0em
	}

	100% {
		top: 0em
	}
}

.katex {
	font-size: 20px !important;
}

#content {
	color: #003bb3;
	position: relative;
	margin: 0 auto;
	width: 960px;
	z-index: 300;
	background: url('../images/parallax-philosophy-ltl.png') top center;
}

/* The Modal (background) */
.modal {
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	font-size: 30px;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
	animation-name: animatetop;
	animation-duration: 0.4s
}

.modal-header {
	padding: 2px 16px;
	background-color: black;
	color: white;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 75px;
	font-weight: bold;
	position: relative;
	top: 20px;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	border-bottom: 1px solid #000000;
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
