#container {
  background: red;
  width: 800px;
  height: 600px;
  position: relative;
}

#child_1 {
  width: 200px;
  height: 200px;
  background-color: gray;
  background-image: url("logo_ciencias.svg");
}

#child_2 {
  width: 400px;
  height: 200px;

  background-color: yellow;
  background-image: url("logo_ciencias.svg");
  background-position: center;
  background-size: cover;
}

#child_3 {
  width: 200px;
  height: 200px;

  background-color: pink;
  background-image: url("logo_ciencias.svg");
  background-position: right bottom;
  background-size: 37%;
}

#child_4 {
  width: 200px;
  height: 200px;

  background-color: gray;
  background-image: url("logo_ciencias.svg");
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: 50%;
}

#child_5 {
  width: 200px;
  height: 1000px;

  background-color: chocolate;
  background-image: url("logo_ciencias.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}