@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-image: linear-gradient(to right, #ff7b7b, #7a0098);
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    margin: 0 10px;
    overflow: hidden;
}

body,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Propiedad para hacer no seleccionable el texto. */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard */    
}

button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#container {
    position: relative;
    max-width: 66.1vw;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 2px #000;
    overflow: hidden;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
}

#retro {
    background: #3498DB;
    display: none;
    font-size: 3vw;
    height: 10vw;
    position: absolute;
    text-align: center;
    top: 25vh;
    width: 20vw;
    left: 40vw;
}

#retro_btn {
    font-size: 1vw;
    background-color: #F1C40F;
    border: 2px solid #Cf9E37;
    color: #C0392B;
}

#retro_btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.score {
    font-size: 75pt;
}

div.grid,
div.food,
div.snakeBody,
div.snakeHead {
    margin-bottom: -5px;
    display: inline-block;
    height: 1vw;
    width: 1vw;
}

.food {
    background-color: #e74c3c;
    border: 2px solid #c0392b;
}

.grid {
    background-color: #0f380f;
    border: 2px solid #306230;
}

.snakeBody {
    background-color: #9bbc0f;
    border: 2px solid #8bac0f;
}

.snakeHead {
    background-color: #9bbc0f;
    border: 2px solid black;
}

.center {
    text-align: center;
}
