body {
  background: #d0c8ff;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid black;

  filter: blur(2px);
  /* filter: grayscale(100%); */
  /* filter: sepia(100%); */
  /* filter: invert(100%); */
  /* filter: opacity(25%); */
  /* filter: hue-rotate(180deg); */
  /* filter: saturate(25%); */
  /* filter: brightness(2); */
  /* filter: contrast(200%); */
  /* filter: drop-shadow(16px 16px 20px blue); */
}
