#container {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #bdc3c7;
  padding: 0px;
  margin: 0px;
  /* font-size: 0; */
}

#container > div {
  display: inline-block;
  box-sizing: border-box;
  
  width: 40px;
  height: 40px;

  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center; 
  font-size: 15px;
  
  border: 1px solid white;
}
